header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  /* background: linear-gradient(#d2d2f5, rgb(230, 229, 233)); */
  transition: 0.5s;
}

header .logo {
  color: rgb(49, 49, 110);
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1.5px;
}
header a:hover {
  /* opacity: 0.7; */
  /* text-decoration: underline; */
  /* transform: rotate(20deg); */
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  color: rgb(49, 49, 110);
  font-size: 18px;
}

header.sticky {
  background: rgba(0, 0, 0, 0.55);
  /* background: linear-gradient(#d5d5f1, #f3f3f3); */
  padding: 20px 20px 20px 20px;
  box-shadow: 0 1px 12px rgba(61, 61, 61, 0.9);
}
header.sticky ul li a {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
header.sticky .logo span {
  -webkit-text-fill-color: rgb(255, 77, 90);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 77, 90); */
}
header.sticky .logo {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.element {
  /* color: rgb(236, 48, 48); */
  color: black;
  font-size: 25px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(184, 42, 42);
}

/* keyframes */
