/* about me css */
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
.heading {
  width: 100%;
  text-align: center;
  padding: 0px 20px 30px 20px;
}
.heading h2 {
  color: rgb(255, 77, 90);
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 2.5px;
}
.content {
  display: flex;
  justify-content: space-around;
}
.contentbx {
  padding: 0px 30px 0px 0px;
}
.contentbx h3 {
  color: rgb(174, 191, 207);
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}
.education {
  color: white !important;
  font-family: "Comic Neue", cursive;
}
.institue {
  color: rgb(255, 77, 90);
}
.w50 {
  min-width: 30%;
}
.w50 img {
  border-radius: 50%;
  max-width: 100%;
}

/* services css starts here */

.services {
  background: rgb(25, 49, 79);
  background-size: cover, contain;
  background-position: center, right bottom;
  background-repeat: no-repeat, no-repeat;
}
.heading.white {
  color: #56c1d4;
}
.services .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.services .content .servicesbx {
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  color: #212121;
  max-width: 340px;
  border-bottom-left-radius:30px ;
  border-top-right-radius:30px ;
  margin: 20px;
  transition: 0.5s;
  text-align: center;
  border: #212121 3px solid;
  /* box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2); */
}
.services .content .servicesbx img {
  width: 250px;
  height: 220px;
}

.services .content .servicesbx h2 {
  font-size: 20px;
  font-weight: 300;
}

/* work css starts here */
.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workbx {
  width: 50%;
  padding: 20px 20px 20px 20px;
}
.work .content .workbx img {
  max-width: 100%;
}

/* testimonial css */
.testimonial {
  background-color: #f7f7f7;
}
.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial .content .testimonialbx {
  max-width: calc(50%-40px);
  padding: 60px 40px;
  margin: 20px;
  background-color: #212121;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}
.testimonial .content .testimonialbx p {
  color: #fff;
  font-family: "Comic Neue";
  font-size: 16px;
  font-weight: 300;
}
.testimonial .content .testimonialbx h3 {
  margin-top: 40px;
  text-align: end;
  font-weight: 100;
  font-size: 20px;
  color: white;
}

/* contact css starts here */

.formbx {
  min-width: 60%;
}
.formbx form {
  display: flex;
  flex-direction: column;
}
.formbx form h3,
.formbx form input,
.formbx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #222;
  resize: vertical;
  color: #fff;
  border-radius: 10px;
}
.formbx form textarea {
  min-height: 200px;
}

.formbx form input::placeholder,
.formbx form textarea::placeholder {
  color: #999;
}

.formbx form input[type="submit"] {
  max-width: 100%;
  border: 1px solid white;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* contact section starts here */

/* .contact .title:after {
  content: "get in touch";
} */

.contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.contact .contact-content .column {
  width: calc(50%);
}
.contact .contact-content .left p {
  text-align: justify;
}
.column.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
}

i {
  font-size: 30px;
  border-radius: 100px;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 20px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .row .info .head {
  font-weight: 500;
}
.contact .contact-content .row .info .sub-title {
  color: #333;
}

.contact .right form .field {
  display: flex;
}

.contact .right form .field .textarea {
  height: 80px;
  width: 170px;
  resize: none;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}
.contact .right form .field input,
.contact .right form .field .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0px 10px;
  font-size: 17px;
}
.contact .right form .name {
  /* margin-right: 10px; */
}
.contact .right form .email {
  /* margin-right: 10px; */
}
.contact .right form .button {
  height: 47px;
  width: 100%;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 1px crimson solid;
  background-color: crimson;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
}
.contact .right form .button button:hover {
  color: crimson;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
}
/* contact section ends here */
/* copyright section starts here */
.copyright {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px;
}
.fab {
  cursor: pointer;
}

.fa-facebook-square {
  color: rgb(20, 161, 249);
}
.fa-linkedin {
  color: rgb(10, 102, 194);
}
.fa-instagram-square {
  color: rgb(219, 49, 120);
}
.fa-github-square {
  color: black;
}
/* copyright section ends here */
.azurecss{
  width: 300px !important;
  height: 200px !important;
}

.framworkscss{
  color: #f7f7f7;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: 'Redressed', cursive;
}
.fa-file{
  font-size: 15px;
}