@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&family=Indie+Flower&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  overflow: hidden;
}

.banner {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("../Images/code.gif");
  /* background: linear-gradient(#eeebeb, #9999e2); */
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section {
  padding: 100px;
}
.banner h2 {
  font-size: 3em;
  color: #1b3562;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  color: #3e25ca;
  font-weight: 500;
  font-size: 1.5em;
}
.banner h3 {
  font-size: 1.5em;
  color: #212121;
  font-weight: 500;
}
.btn {
  position: relative;
  border-radius: 10px;
  /* background-color: #2196f3; */
  display: inline-block;
  color: #1b3562;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: #1b3562 1px solid;
  font-family: "Fredoka One", cursive;
}
.btn:hover {
  transition: 1s;
  background-color: #1b3562;
  color: white;
}
.img1 {
  width: 350px;
  height: 350px;
}
